<!DOCTYPE html>
<html>
  <head>
    <title>Salary Manager - HR Tool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/assets/application.css">
    <script src="/assets/pack_application.js" defer></script>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
